@import "styles/config.sass"
@import "styles/buttons.sass"

.header
	position: fixed
	top: 0
	left: 0
	height: 120px
	width: 100%
	z-index: 100
	background: $filters_fade repeat-x top left
	display: flex
	ul.levels
		background: $filters_background_image repeat-x top left
		margin: 0 10px 10px 10px
		list-style: none
		padding: 0
		display: flex
		li
			display: flex
			align-items: center
			height: 75px
			padding: 0 20px 0 30px
			font-size: 16px
			cursor: pointer
			color: #fff
			@media screen and (max-width: 1050px)
				padding: 0 10px 0 25px
				span
					display: block
					width: 1.6rem
					overflow: hidden
			label
				cursor: pointer
			&.active
				background-image: $level_checkbox
				background-repeat: no-repeat
				background-position: 8px center
			&:first-child
				border-bottom-left-radius: 5px
			&:last-child
				border-bottom-right-radius: 5px
			&.active
				background-image: $level_checkbox
			&.error_level
				background-color: $error
				border-top: 12px solid darken($error, 20%)
				&:hover
					background-color: darken($error, 10%)
			&.warning_level
				background-color: $warning
				border-top: 12px solid darken($warning, 20%)
				&:hover
					background-color: darken($warning, 10%)
			&.info_level
				background-color: $info
				border-top: 12px solid darken($info, 20%)
				&:hover
					background-color: darken($info, 10%)
			&.notice_level
				background-color: $notice
				border-top: 12px solid darken($notice, 20%)
				&:hover
					background-color: darken($notice, 10%)
			&.critical_level
				background-color: $critical
				border-top: 12px solid darken($critical, 20%)
				&:hover
					background-color: darken($critical, 10%)

	div.search
		width: 340px
		height: 75px
		padding: 24px 21px 21px 21px
		margin: 0 0 0 10px
		position: relative
		background-color: #333
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		input.negate
			position: absolute
			top: 29px
			right: 20px
		input.regex
			height: 30px
			margin-right: 20px
			width: 210px

	.user
		background-color: #333
		color: white
		position: absolute
		top: 0
		right: 0
		border-bottom-left-radius: 5px
		padding: 5px
		a
			color: white
			display: inline-block
			padding: 5px

	div.admin
		padding: 10px
		label
			color: #fff
			font-size: 12px
		input[type="checkbox"]
			position: relative
			top: 3px

	div.options
		padding: .5rem .5rem .5rem 1rem
		ul
			list-style: none
			margin: 0
			padding: 0
			input
				margin: .5rem
				position: relative
				top: .2rem