@font-face
	font-family: "consolas"
	src: url('/fonts/consola.ttf')

@function image-url($url)
	@return url('/images/#{$url}')


$default_color : #CCC
$body_background_color : #141414
$header_color : #ccc

$level_checkbox : image-url('icon_check_white.png')

$filters_fade : image-url('filters_fade.png')
$filters_background_image : image-url('filters_fade.png')

$regex_drawer_background_color : white
$regex_drawer_toggle_down : image-url('icon_arrow_down.png')
$regex_drawer_toggle_up : image-url('icon_arrow_up.png')
$regex_save_button_color : #3F5666

$icon_delete : image-url('icon_delete.png')
$icon_edit : image-url('icon_edit.png')

$stack_trace_arrow : image-url('arrow.png') no-repeat left center

$log_background_color : #141414
$log_background_color_alt : #202020

$pin_icon : image-url('pin.png')
$report_icon : image-url('icon_report.png')

$rendered_object_key_color : #E0AA53
$rendered_object_value_color : #7587A6
$rendered_object_comma_color : #fcfcfc
$array_icon : image-url('icon_arr_compact.png')
$object_icon : image-url('icon_obj_compact.png')

$toggle_icon_x : image-url('x.png')
$toggle_icon_more : image-url('more.png')
$truncate_collapsed_object_fadeout : image-url('truncate_collapsed_object_dark.png')

$error : #C74029
$warning : #F0AD44
$info : #A1BBBF
$critical : #910101
$notice : #D6C4A6

$filter_text : #333
$applied : #B6C569
$editing : #FFF8CB

$code : #2B3E3E